<div class="card">

  <div class="row m-0 card-header">
    <h3 class="text-center font-weight-normal" style="margin-left: 37%;">Dashboard</h3>
  </div>

  <div style="height: 550px; overflow-y: scroll;">
    <div class="d-flex my-4">
      <iframe width="450" height="260" style="border: 1px solid #cccccc; margin: 0 auto" src="https://thingspeak.com/channels/1503613/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line"></iframe>
    </div>

    <div class="d-flex my-4">
      <iframe width="450" height="260" style="border: 1px solid #cccccc; margin: 0 auto" src="https://thingspeak.com/channels/1503651/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    </div>

    <div class="d-flex my-4">
      <iframe width="450" height="260" style="border: 1px solid #cccccc; margin: 0 auto" src="https://thingspeak.com/channels/1503654/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    </div>

    <div class="d-flex my-4">
      <iframe width="450" height="260" style="border: 1px solid #cccccc; margin: 0 auto" src="https://thingspeak.com/channels/1503655/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    </div>
  </div>

</div>
